<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a href="../../website/website-list/website-list.component.html" class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a href="./../page-new/page-new.component.html" class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-plus">
          </span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold" href="#">
      Pages
    </a>
  </div>
</nav>


<div class="container-fluid cl-container-padding">
  <ul class="list-group cl-list-group-borderless">
    <li class="list-group-item cl-list-item-borderless">
      <a href="./../page-edit/page-edit.component.html"><span class="glyphicon glyphicon-cog pull-right"></span></a>
      <a href="./../../widget/widget-list/widget-list.component.html">Blog Post</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a href="./../page-edit/page-edit.component.html"><span class="glyphicon glyphicon-cog pull-right"></span></a>
      <a href="./../../widget/widget-list/widget-list.component.html">Blogs</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a href="./../page-edit/page-edit.component.html"><span class="glyphicon glyphicon-cog pull-right"></span></a>
      <a href="./../../widget/widget-list/widget-list.component.html">Home</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a href="./../page-edit/page-edit.component.html"><span class="glyphicon glyphicon-cog pull-right"></span></a>
      <a href="./../../widget/widget-list/widget-list.component.html">About</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a href="./../page-edit/page-edit.component.html"><span class="glyphicon glyphicon-cog pull-right"></span></a>
      <a href="./../../widget/widget-list/widget-list.component.html">Contact Us</a>
    </li>
  </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">
      <a href="./../../user/profile/profile.component.html" class="cl-icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>

<div *ngFor="let website of websites">
  ...
  {{website.name}}
  ...
</div>
