<nav class="navbar navbar-fixed-top navbar-light bg-secondary">
  <a class="btn navbar-brand" routerLink="../..">
    <span class="glyphicon glyphicon-chevron-left text-dark"></span>
  </a>
  <div class="navbar-brand font-weight-bold">
    Widgets
  </div>
  <a class="btn navbar-brand pull-right" routerLink="./new">
    <span class="glyphicon glyphicon-plus text-dark"></span>
  </a>
</nav>

<div id="sortable" class="cl-body-padding" appSortable (newIndexes)="reorderWidgets($event)">
  <div *ngFor="let widget of widgets | orderBy">
    <div *ngIf="widget.type == 'HEADER'">
      <div class="pull-right">
        <a [routerLink]="['/#']" class="pull-right">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
        <a routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/{{widget._id}}">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </div>
      <h1>{{widget.text}}</h1>
    </div>

    <div *ngIf="widget.type == 'HTML'">
      <div class="pull-right">
        <a [routerLink]="['/#']" class="pull-right">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
        <a routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/{{widget._id}}">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </div>
      <!--<h1>Html name: {{widget.name}}</h1>-->
      <div [innerHTML]="widget.text"></div>
    </div>

    <div *ngIf="widget.type == 'TEXT'">
      <!--<div class="pull-right">-->
        <!--<a [routerLink]="['/#']" class="pull-right">-->
          <!--<span class="glyphicon glyphicon-menu-hamburger"></span>-->
        <!--</a>-->
        <!--<a routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/{{widget._id}}">-->
          <!--<span class="glyphicon glyphicon-cog"></span>-->
        <!--</a>-->
      <!--&lt;!&ndash;<div [innerHTML]="widget.text"></div>&ndash;&gt;-->
        <!--<h1>{{widget.name}}</h1>-->
      <div *ngIf="widget.formatted">
        <quill-editor [(ngModel)]="widget.text" name="text"></quill-editor>
      </div>

      <input *ngIf="!widget.formatted && (!widget.rows || widget.rows===1)"
             placeholder="{{widget.placeholder}}" class="form-control"/>

      <textarea *ngIf="!widget.formatted && (widget.rows > 1)"
                rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                class="form-control">{{widget.text}}</textarea>
    </div>

    <div *ngIf="widget.type == 'IMAGE'">
      <div>
        <a [routerLink]="['/#']" class="pull-right">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
        <a routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/{{widget._id}}" class="pull-right">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <!-- <img class="img-responsive cl-widget-images" src="{{baseUrl}}/api/image/{{widget.url}}" alt="alt" width="widget.width"> -->
        <img class="img-responsive cl-widget-images" src="{{widget.url}}" alt="alt" width="widget.width">
      </div>
      <br>
    </div>

    <div class="embed-responsive embed-responsive-16by9" *ngIf="widget.type == 'YOUTUBE'">
      <div>
        <iframe width="{{widget.width}}" height="{{widget.height}}" [src]="photoURL(widget.url)" frameborder="0" allowfullscreen>
        </iframe>
        <a [routerLink]="['/#']" class="pull-right">
          <span class="glyphicon glyphicon-menu-hamburger" style="  background-color: white"></span>
        </a>
        <a routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/{{widget._id}}" class="pull-right">
          <span class="glyphicon glyphicon-cog" style="background-color: white"></span>
        </a>
      </div>
      <br>
    </div>
  </div>
</div>

<nav class="navbar navbar-fixed-bottom navbar-light bg-secondary">
  <a [routerLink]="['/#']" class="navbar-brand">
    <span class="glyphicon glyphicon-play text-dark"></span>
  </a>
  <a [routerLink]="['/#']" class="navbar-brand">
    <span class="glyphicon glyphicon-eye-open text-dark"></span>
  </a>
  <a class="btn navbar-brand pull-right" routerLink="/user/{{uid}}">
    <span class="glyphicon glyphicon-user text-primary"></span>
  </a>
</nav>
