
<nav class="navbar navbar-fixed-top navbar-light bg-primary">
  <div *ngIf="infoFlag" class="alert alert-success">
    {{infoMsg}}
  </div>
  <div class="navbar-brand text-white font-weight-bold">
    Profile
  </div>
  <a class="navbar-brand btn pull-right" (click)="updateUser(user)">
    <span class="glyphicon glyphicon-ok text-white"></span>
  </a >
</nav>

<div class="container">
  <!--<div *ngIf="infoFlag" class="alert alert-success">-->
    <!--{{infoMsg}}-->
  <!--</div>-->
  <form>
    <div class="form-group">
    <label for="username">Username</label>
    <input [(ngModel)]="user.username" type="text" name="username" class="form-control" id="username" placeholder="username">
    </div>

    <div class="form-group">
    <label for="password">Password</label>
    <input [(ngModel)]="user.password" type="password" name="password" class="form-control" id="password" placeholder="password">
    </div>

    <div class="form-group">
    <label for="firstname">First Name</label>
    <input [(ngModel)]="user.firstName" type="text" name="firstname" class="form-control" id="firstname" placeholder="first name">
    </div>

    <div class="form-group">
    <label for="lastname">Last Name</label>
    <input [(ngModel)]="user.lastName" type="text" name="lastname" class="form-control" id="lastname" placeholder="last name">
    </div>

    <div class="form-group">
    <label for="email">Email</label>
    <input [(ngModel)]="user.email" type="email" name="email" id = "email" placeholder="jannunzi@gmail.com" class="form-control">
    </div>

    <div class="form-group">
    <label for="phone">Phone</label>
    <input [(ngModel)]="user.phone" type="tel" name="phone" id="phone" placeholder="2061234567" class="form-control">
    </div>

    <div class="form-group">
    <a class="btn btn-primary btn-block" routerLink="/user/{{uid}}/website">Websites</a>
    </div>

    <div class="form-group">
      <a (click)="deleteUser()" class="btn btn-warning btn-block">Delete User</a>
    </div>

    <div class="form-group">
    <a class="btn btn-danger  btn-block"
     routerLink="/login">Logout</a>
    </div>
  </form>
</div>

<nav class="navbar navbar-fixed-bottom cl-blue-navbar">
  <div class="container-fuild">
    <a routerLink="/user/{{uid}}" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </div>
</nav>
