<div class="container">
  <h1>Login</h1>

  <!-- generate error message when there are input errors -->
  <div *ngIf="errorFlag" class="alert alert-danger">
    <p>{{errorMsg}}</p>>
  </div>

  <!-- using angular form (ngForm) instead of traditional <input> tag -->
  <form (ngSubmit) = "login(username,password)" #f="ngForm">

    <div class="form-group">
      <input [(ngModel)]="username" type="text" name="username" placeholder="username" class="form-control">
    </div>
    <!--<span class="help-block" *ngIf="!username.valid && username.touched">-->
      <!--Please enter username!-->
    <!--</span>-->

    <!--<label for="password">Password</label>-->
    <!--<input placeholder="password" name="password" type="password" class="form-control" id="password" ngModel required #password="ngModel"/>-->
    <!--<span class="help-block" *ngIf="!password.valid && password.touched">-->
      <!--Please enter password!-->
    <!--</span>-->
    <div class="form-group">
      <input [(ngModel)]="password" type="password" name="password" placeholder="password" class="form-control">
    </div>

    <div class="form-group">
    <button class="btn btn-primary btn-block" type="submit">Login</button>
    </div>

    <a href="https://webdev-wenfei.herokuapp.com/facebook/login" class="btn btn-primary btn-block">
      <span class="fa fa-facebook"></span>
      Facebook
    </a>

    <div class="form-group">
    <button class="btn btn-success btn-block" routerLink="/register">Register</button>
    </div>
  </form>
</div>
