<div class="container">
<div *ngIf="errorFlag"
class="alert alert-danger">
{{errorMsg}}
</div>
<h1>Login</h1>
  <form (ngSubmit) = "login()" #f="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" placeholder="username" name="username" ngModel required #username="ngModel"/>
    </div>

    <span class="help-block" *ngIf="!username.valid && username.touched">
    Please enter username!
    </span>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="password" name="password" ngModel required #password="ngModel"/>
    </div>

    <span class="help-block" *ngIf="!password.valid && password.touched">
    Please enter password!
    </span>

    <button class="btn btn-primary btn-block" type="submit" [disabled]="!f.valid">Login</button>

    <a routerLink="/register" class="btn btn-success btn-block">Regester</a>
  </form>
</div>
