<nav class="navbar navbar-fixed-top cl-blue-navbar">
  <div class="row">
    <div class="col-xs-4 hidden-xs">
      <div class="container-fluid">
        <p class="navbar-text pull-left">
          <a routerLink="/user/{{webDeveloperId}}/website/" class="navbar-link cl-text-white">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a >
        </p >
        <a class="cl-text-white navbar-brand cl-text-bold" routerLink=".">
          Websites
        </a >
        <a routerLink="." class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
          <span class="glyphicon glyphicon-plus"></span>
        </a >
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <div class="container-fluid">
        <a class="cl-text-white navbar-brand cl-text-bold" routerLink="/user/{{webDeveloperId}}/website/">
          Edit Websites
        </a >
        <a (click)="updateWebsite(updatedWebsite)" routerLink=".." class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
          <span class="glyphicon glyphicon-ok"></span>
        </a >
      </div>
    </div>
  </div>
</nav>

<div class="contain-fluid">
    <ul class="list-group cl-list-group-borderless">
      <li *ngFor = "let websiteLi of websites" class="list-group-item cl-list-item-borderless">
        <a routerLink="../{{websiteLi._id}}"><span class="glyphicon glyphicon-cog pull-right"></span></a >
        <a routerLink="../{{websiteLi._id}}/page">{{websiteLi.name}}</a>
      </li>
    </ul>
</div>
  <!--<div class="col-xs-8 borders">-->
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 borders">
    <form>
      <div class="form-group cl-8-top">
        <div class="form-group">
          <label for="website-name">Website Name</label>
          <input [(ngModel)]="updatedWebsite.name" type="text" class="form-control" id="website-name" placeholder="website name" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="form-group cl-8-top">
        <div class="form-group">
          <label for="website-description">Website Description</label>
          <textarea [(ngModel)]="updatedWebsite.description" id="website-description" class="form-control" rows="5"
                  placeholder="description" [ngModelOptions]="{standalone: true}"></textarea>
        </div>
      </div>
      <a (click)="deleteWebsite()" class="btn btn-danger btn-block cl-8-top">Delete</a >
    </form>
  </div>

<nav class="navbar navbar-fixed-bottom cl-blue-navbar">
  <div class="container-fuild">
    <a routerLink="/user/{{webDeveloperId}}" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
      <span class="glyphicon glyphicon-user"></span>
    </a >
  </div>
</nav>


