<nav class="navbar navbar-fixed-top navbar-light bg-secondary">
  <a class="btn navbar-brand" routerLink="..">
    <span class="glyphicon glyphicon-chevron-left text-dark"></span>
  </a>
  <div class="navbar-brand font-weight-bold">
    Widget chooser
  </div>
  <a class="btn navbar-brand pull-right" routerLink="./new">
    <span class="glyphicon glyphicon-plus text-dark"></span>
  </a>
</nav>

<div class="container-fluid cl-container-padding">
  <ul class="list-group cl-list-group-borderless">
    <li class="list-group-item cl-list-item-borderless">
      <a (click)="createWidget('HEADER')">Header</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink=".">Label</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a (click)="createWidget('HTML')">HTML</a>
      <!--<a routerLink="../html">HTML</a>-->
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a (click)="createWidget('TEXT')">Text</a>
      <!--<a routerLink="../text">Text</a>-->
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <!--<a (click)="createWidget('LINK')" )></a>-->
      <a routerLink=".">Link</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink=".">Button</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a (click)="createWidget('IMAGE')">Image</a>
      <!--<a routerLink="../image">Image</a>-->
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a (click)="createWidget('YOUTUBE')">YOUTUBE</a>
      <!--<a routerLink="../youtube">YouTube</a>-->
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink=".">Data Table</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink=".">Repeater</a>
    </li>
  </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">
      <a routerLink="../../../../../.." class="cl-icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>
